{% extends 'base.html.twig' %}

{% block title %}gardes mensuelles{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">


        <h2>Nouveau planning d'astreinte </h2>

<form method="get" action="{{ path('gardes_ajouter_ou_modifier') }}">

        <div class="col-md-12">
            <p>Service concerné: </p>
            <label for="uniteSoin"></label>
            <select  name="uniteSoin" id="uniteSoin" class="form-select form-select-lg mb-3" required="required">

                <option value="">Sélectionnez un service de garde</option>
                {% for uniteSoin in listedesUnitedeSoin %}
                    <option value="{{ uniteSoin.id }}">{{ uniteSoin.nom }} {{ uniteSoin.description }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-12">

            <p>Choisissez le mois à créer :</p>

            <label for="date">Date:</label>
                <input type="month" id="date" name="date" class="form-select  mb-3" required="required"
                       value=""
                       min="2018-01-01" max="2200-12-31"> <br>
            <p class="Text_Info">(si le calendrier n'apparait pas le format est AAAA-MM)</p>

        </div>




    <input type="submit" class="btn  btn-primary" id="valider" name="validation" value="valider">
    <br><br>
</form>






        <a href="{{ path('gardes_table_des_matiere') }}" class="btn  btn-primary">retour</a><br><br>


    </div>
{% endblock %}