{% extends 'base.html.twig' %}

{% block title %}gardes mensuelles{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">


    <h3>Gestions des astreintes  </h3>




        <a href="{{path('gardes_ajouter_ou_modifier') }}" class="btn  btn-primary" >Ajouter les astreintes mensuelles d'un service </a> <br><br>

        <a href="{{ path('unite_soin_index') }}" class="btn  btn-primary">ajouter un service</a><br><br>
        <a href="{{ path('responsable_de_garde_index') }}" class="btn  btn-primary">ajouter une personne d'astreinte</a><br><br>
        <a href="{{path('planning_planning_garde') }}" class="btn  btn-primary" >modifier une garde mensuelle </a> <br><br>
        <a href="{{path('home')}}" class="btn  btn-primary">retour </a>


    </div>
{% endblock %}