{% extends 'base.html.twig' %}

{% block title %}Service de garde{% endblock %}

{% block body %}
    <h1>Modifier un service de garde</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unite_soin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ unite_soin.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ unite_soin.description }}</td>
            </tr>
            <tr>
                <th>InfoTel</th>
                <td>{{ unite_soin.infoTel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('unite_soin_index') }}" class="btn btn-primary">retour à la liste</a>

    <a href="{{ path('unite_soin_edit', {'id': unite_soin.id}) }}" class="btn btn-primary">modifier</a>

    {{ include('unite_soin/_delete_form.html.twig') }}
{% endblock %}
