{% extends 'base.html.twig' %}

{% block title %}planning/mois/service{% endblock %}

{% block body %}
{# <style> #}
{# .example-wrapper { #}
{# margin: 1em auto; #}
{# max-width: 800px; #}
{# width: 95%; #}
{# font: 18px/1.5 sans-serif; #}
{# } #}

{# .example-wrapper code { #}
{# background: #F5F5F5; #}
{# padding: 2px 6px; #}
{# } #}
{# </style> #}


<div class="example-wrapper">

    <h3 id="mois" name="{{ mois.tostring }}">planning pour le mois de : {{ mois.tostring }}  </h3>
    <input type="hidden" id="year" value="{{ mois.year }}">
    <input type="hidden" id="month" value="{{ mois.month }}">
        <h3>service : {{ service.getNom }} {{ service.getDescription }} </h3>
    <input type="hidden" id="service" value="{{ service.id }}">
    <form method="post">


        <div class="container bordVert">
            {% for i in range(1,nbrJours) %}

            <h4 id="date-{{ i }}">{{ i }}  {{ mois.tostring }} :<br>
                {{ jourUn|format_datetime( pattern="EEEE d MMMM y", locale='fr')  }}

                {% for day in mois.days %}
                {% set date =jourUn|date_modify("+" ~ (loop.index0 +((numjourDuPremier-1)+ i) * 7) ~ "days" ) %}
                {{ day }}
                {% endfor %}
            </h4>
            <div class="row bordVert">
                <div class="col-md-4">
                    <div class="row ">
                        <div class="col-md-12">
                            <h5>doc1</h5>
                            <label for="resGarde1-{{ i }}">choix du responsable de garde:</label>
                            <select name="resGarde1" id="resGarde1-{{ i }}"  class="form-select form-select-lg mb-3 selDoc">
                                <option value="">Sélectionnez un Responsable de garde</option>
                                {% for res in listeGarde %}
                                    <option value="{{ res.id }}">{{ res.getNom }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="timedebut1-{{ i }}">de:</label>
                            <input type="time"  id="timedebut1-{{ i }}" name="timedebut1" class="form-select mb-3 timeDeb"
                                   value="00:00"
                                   min="00:00" max="23:59">
                        </div>
                        <div class="col-md-6">
                            <label for="timefin1-{{ i }}"> A:</label>
                            <input type="time" id="timefin1-{{ i }}" name="timefin1" class="form-select mb-3 timeEnd"
                                   value="23:59"
                                   min="00:00" max="23:59">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row ">
                        <div class="col-md-12">
                            <h5>doc2</h5>
                            <label for="resGarde2-{{ i }}">choix du responsable de garde:</label>
                            <select name="resGarde2"  id="resGarde2-{{ i }}" class="form-select form-select-lg mb-3 selDoc">
                                <option value="">Sélectionnez un Responsable de garde</option>
                                {% for res in listeGarde %}
                                    <option value="{{ res.id }}">{{ res.getNom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="timedebut2-{{ i }}">de:</label>
                            <input type="time"  id="timedebut2-{{ i }}" name="timedebut2" class="form-select mb-3 timeDeb"
                                   value="00:00"
                                   min="00:00" max="23:59">
                        </div>
                        <div class="col-md-6">
                            <label for="timefin2-{{ i }}"> A:</label>
                            <input type="time" id="timefin2-{{ i }}" name="timefin2" class="form-select mb-3 timeEnd"
                                   value="23:59"
                                   min="00:00:00" max="23:59">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row ">
                        <h5>doc3</h5>
                        <div class="col-md-12">
                            <label for="resGarde3-{{ i }}">choix du responsable de garde:</label>
                            <select name="resGarde3" id="resGarde3-{{ i }}" class="form-select form-select-lg mb-3 selDoc">
                                <option value="">Sélectionnez un Responsable de garde</option>
                                {% for res in listeGarde %}
                                    <option value="{{ res.id }}">{{ res.getNom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="timedebut3-{{ i }}">de:</label>
                            <input type="time" id="timedebut3-{{ i }}" name="timedebut3" class="form-select mb-3 timeDeb"
                                   value="00:00"
                                   min="00:00:" max="23:59">
                        </div>
                        <div class="col-md-6">
                            <label for="timefin3-{{ i }}"> A:</label>
                            <input type="time" id="timefin3-{{ i }}" name="timefin3" class="form-select mb-3 timeEnd"
                                   value="23:59"
                                   min="00:00" max="23:59">
                        </div>
                    </div>


                </div>
            </div>


            {% endfor %}




            <button type="submit" class="btn btn-primary" id="planningOk" name="planningOk" value="planningOk" >Valider</button>
            <a href="{{ path('planning_index') }}" class="btn btn-primary">Retour à la liste</a>


        </div>

    </form>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        function onChange(event)
        {
            jour=this.id.substring(this.id.indexOf('-')+1);
            console.log("jour : "+jour);
            var datas = new FormData();
            datas.set('service',document.getElementById('service').value);
            datas.set('year',document.getElementById('year').value);
            datas.set('month',document.getElementById('month').value);
            datas.set('day',jour);
            for(var i = 1; i <= 3 ; i++ ){
                var doc = document.getElementById('resGarde'+i+'-'+ jour);
                // console.log(doc);
                var num = doc.selectedIndex;
                // console.log(num);
                var idDoc = doc.options[num].value;
                console.log("doc id : "+idDoc);
                datas.set('doc'+i, idDoc);
                var start = document.getElementById('timedebut'+i+'-'+ jour);
                datas.set('start'+i ,start.value);
                var end = document.getElementById('timefin'+i+'-'+ jour);
                datas.set('end'+i ,end.value);
                console.log(start.value);
                console.log(end.value);
            }
            axios.post('modif',datas).then(function (response)
            {
                console.log(response.data);
            }).catch(error => console.log(error))
        }

        document.querySelectorAll('select.selDoc').forEach(function (select) {
            select.addEventListener('change',onChange);
        })
        document.querySelectorAll('input.timeDeb').forEach(function (inDeb) {
            inDeb.addEventListener('blur',onChange);
        })
        document.querySelectorAll('input.timeEnd').forEach(function (inEnd) {
            inEnd.addEventListener('blur',onChange);
        })

    </script>
{% endblock %}