<nav class="navBar">
<ul>
    <li><a href="{{ path("home") }}" title="Home">Accueil</a></li>
    <li><a href="{{ path("home")}}" title="monProfil">Mon Profil</a></li>
    <li><a href="{{ path('app_logout') }}" title="deconexion">se deconnecter</a></li>
    <li><a href="{{ path ('app_register') }}">s enregistrer </a></li>
    <li><a href="{{ path ('app_login') }}">se connecter</a></li>
    <li><a href="{{ path ("personnel") }}">page gestion personnels</a></li>

</ul>

</nav>